DATABASE_URL="******HOST-pooler.REGION.aws.neon.tech/DATABASE?sslmode=require"
GOOGLE_CLIENT_ID=181921852616-kqff26dgukqpg5o46ulkik3ir2hcri4r.apps.googleusercontent.com
TIBIA_DATA_API_BASE_URL=https://dev.tibiadata.com/v4
