DATABASE_URL="******HOST-pooler.REGION.aws.neon.tech/DATABASE?sslmode=require"
GOOGLE_CLIENT_ID=************************************************************************
TIBIA_DATA_API_BASE_URL=https://dev.tibiadata.com/v4
