* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  color: #27334f;
  background: #f6f7fb;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
